<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="./bootstrap/bootstrap.css">
        <title>Document</title>
    </head>
    <body>
        <div style="margin-top: 50px;margin-left:50px">
            <a class="back" href="/register">Back</a>
        </div>
        <div class="ViewData">
           <h3>Name:{{viewDat.name}}</h3>
           <h3>Email:{{viewDat.email}}</h3>
           <h3>Phone:{{viewDat.phone}}</h3>
           <h3>State:{{viewDat.state}}</h3>
           <h3>Dist:{{viewDat.dist}}</h3>
        </div>

 </body>
</html>